body
{
   background-image: url("/storage/emulated/0/Download/concept-health-wealth-wooden-block-hold-hand-close-up-180860376.jpg");
  background-repeat: cover;
  background-size: 1000px 600px;
  
}
footer
{
   background-image: url("/storage/emulated/0/Download/rm373batch15-217-01-kqdjajvh.jpg");
  background-repeat: cover;
 background-size: 1000px 600px;
}
h6{
   text-align: center;
  color: green;
  font-size: 80px;
}
h1{
  text-align: center;
  color: green;
 
}
h2
{
  text-align: center;
  color: crimson;
}
ul{
  background-color: springgreen;
  
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: crimson;
}
.wrapper .input_field
{
    margin-bottom: 10px;
}
.wrapper .input_field input[type="text"],.wrapper textarea
{
    width: 100%;
    border: 1px solid green;
    padding: 7px;
    border-radius: 3px;
}
.wrapper textarea
{
    height: 70px;
    resize: none;
}
.wrapper .btn input[type="submit"]
{
   border: 0;
   margin-top: 15px;
   padding: 5px;
   width: 100%;
   background-color: green;
   text-transform: uppercase;
   letter-spacing: 5px;
   border-radius: 25px;
}
h4{
  text-align: center;
  color: blue;
  font-size: 50px;
}
p{
  text-align:center;
  color: blue;
  font-size: 30px;
}

label
{
  color: brown;
  font-size: 30px;
}
h5{
  text-align: center;
  color: black;
}
h3
{
  text-align: center;
  color: green;
  font-size: 50px;
}
p2{
  text-align: center;
  color: red;
  font-size: 30px;
}
h7
{
  text-align: center;
  color: red;
  font-size: 30px;
}

a{
  color: yellow;
}
ul.a{
  color: pink;
}
input[type=text]
{
  width: 50%
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid brown;
    border-radius: 4px;
    background-color: cyan;
}
textarea
{
  border-radius: 8px;
  border: 1px solid blue;
  resize: none;
  background-color: cyan;
  }
  input[type=password],input[type=email]
{
  width: 50%
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid brown;
    border-radius: 4px;
    background-color: cyan;
}

li a
{
  display: green;
  color: blue;
  font-size: 16px;
  padding: 15px 14px;
  text-decoration: none;
  background-color: springgreen;
  }
  li a:hover
  {
    background-color: yellow;
    color: forestgreen;
   }
   li a.active{
     background-color: green;
     color: deepskyblue;
   }
